main.main
    .container 
        section.calc-block
            .calc-block__wrap(data-object="calculator")
                .calc-block__display(data-object="display") 0
                .calc-block__numbers
                    button.calc-block__button(data-object="number" data-number="9") 9
                    button.calc-block__button(data-object="number" data-number="8") 8
                    button.calc-block__button(data-object="number" data-number="7") 7
                    button.calc-block__button(data-object="number" data-number="6") 6
                    button.calc-block__button(data-object="number" data-number="5") 5
                    button.calc-block__button(data-object="number" data-number="4") 4
                    button.calc-block__button(data-object="number" data-number="3") 3
                    button.calc-block__button(data-object="number" data-number="2") 2
                    button.calc-block__button(data-object="number" data-number="1") 1
                .calc-block__options
                    button.calc-block__button(data-object="option" data-option="c") c
                    button.calc-block__button(data-object="option" data-option="ca") ca
                    button.calc-block__button(data-object="option" data-option="+/-") +/-
                    //- button.calc-block__button(data-object="option" data-option="%") %
                .calc-block__operations
                    button.calc-block__button(data-object="operation" data-operation="/") /
                    button.calc-block__button(data-object="operation" data-operation="*") *
                    button.calc-block__button(data-object="operation" data-operation="-") -
                    button.calc-block__button(data-object="operation" data-operation="+") +
                    button.calc-block__button(data-object="operation" data-operation="=") =